.normal-textbox {
  height: 30vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  color: #FFF;

  .name {
    font-family: 'Raleway-Regular';
    position: absolute;
    left: 60px;
    top: 5px;
    font-size: 2em;
    color: floralwhite;
  }
  .text {
    font-family: 'Vollkorn-Regular';
    position: absolute;
    top: 80px;
    left: 60px;
    font-size: 1.5em;
    color: ghostwhite;
  }
}

.floaty {
  animation: floating 3s linear infinite;
  animation-direction: alternate;
}

@keyframes floating {
  from {margin-bottom: 0;}
  to {margin-bottom: 5px;}
}
