.normal-textbox {
  height: 20vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  color: #FFF;

  .name {
    font-family: 'Raleway-Regular';
    position: absolute;
    left: 60px;
    top: 5px;
    font-size: 2em;
  }
  .text {
    font-family: 'Vollkorn-Regular';
    position: absolute;
    top: 80px;
    left: 60px;
    font-size: 1.5em;
  }
}
